OPENAI_API_KEY="sk-proj-xxxxxx"

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSy-xxxxxx"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="candipiroai.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="candipiroai"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="candipiroai.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="761952124512"
NEXT_PUBLIC_FIREBASE_APP_ID="1:761952124512:web:dee09b05eb00cb4bbe0d05"
